<ion-header>
  <ion-toolbar>
    <p Size ="1" >Allan</p>
    <ion-title>
      <font face="Calibri " size="3">Lil Boo Wepp </font>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <body background url="https://wallpaperaccess.com/full/18107.jpg">
  <div class="ion-padding">
<font face="Calibri" color="#FF6347" size="5" text-center >Girls Make Me Cry</font>
  <ion-img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/f5abc262232819.5a89e317be14e.png"> </ion-img>
      <br>

      <font face="arial">Girls make me drink</font>
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  </body>
</ion-content>
<ion-footer>
  <p>Cry baby</p>
  </ion-footer>
